@media only screen and (max-width: 600px) 
{
    html, body {
        background-color: #fcf7f8;
        font-family: tahoma, georgia;
    }

    h2 {
        font-size: 4vh;
        text-align: center;
    }
    
    .log-container
    {
        display: flex;
        margin: 1vh;
        height: 2vh;
        
    }

    .sign-container
    {
        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        padding: 10vw;
    }

    .sign-container p
    {
        font-size: 2.5vh;
    }

    footer {
        text-align: center;
    }
    #logo-id
    {
        margin-right: 7vw;
        height: 2.5vh;
    }

    .head-class
    {
        display: flex;
    }

    .form-class
    {
        display: flex;
        flex-grow: inherit;
    }

    .form-class .form-group
    {
        height: 4vh;
        padding: 0px;
        margin-top: 0.5vh;
        margin-left: 1vh;
        margin-bottom: 0;
    }

    .form-class .form-group .form-control
    {
        height: 3vh;
        padding: 0px;
        font-size: 2vh;
        border-radius: 0;
    }

    .form-class .btn
    {
        margin-top: 1vh;
        margin-left: 2vw;
        height: 2vh;
        padding-left:1vw;
        padding-right:1vw;
        padding-bottom:1.75vw;
        font-size: x-small;
        line-height: 0vh;
        border-radius: 0;
        white-space: nowrap;
    }
}

@media only screen and (min-width: 600px) 
{

    html, body {
        background-color: #fcf7f8;
        font-family: tahoma, georgia;
    }

    h2 {
        font-size: 4vh;
        font-weight: bold;
        text-align: left;
    }
    
    .log-container
    {
        display: flex;
        justify-content: space-evenly;
        margin: 1vh;
        height: 5vh;
        width: 100%;
        
    }

    .sign-container
    {
        display: grid;
        justify-content: center;
        padding-left: 20vw;
        padding-right: 20vw;
        margin-top: 5vh;
    }

    .sign-container p
    {
        font-size: 2.5vh;
    }

    footer {
        text-align: center;
    }
    #logo-id
    {
        margin-right: 7vw;
        height: 5vh;
    }

    .head-class
    {
        margin-top: 2vh;
        display: flex;
    }

    .sign-container form
    {
        display: grid;
        justify-content: left;
    }

    .form-class
    {
        display: flex;
        flex-grow: inherit;
    }

    .form-class .form-group
    {
        height: 4vh;
        padding: 0px;
        margin-top: 0.5vh;
        margin-left: 1vh;
        margin-bottom: 0;
    }

    .form-class .form-group .form-control
    {
        height: 3vh;
        padding: 0px;
        font-size: 2vh;
        border-radius: 0;
    }

    .form-class .btn
    {
        margin-top: 0.5vh;
        margin-left: 2vw;
        height: 3vh;
        line-height: 1.5vh;
        border-radius: 0;
        white-space: nowrap;
    }

    #uname
    {
        width: 12vw;
    }
    #form-email
    {
        width: 20vw;
    }

}