@media only screen and (max-width: 600px) 
{
    .btn.btn-primary
    {
        background-color: red;
        margin: 1px;
        border-radius: 0;
        width: 100%;
        font-size: 2.5vw;
        font-weight: bold;
        border: solid black 1px;
    }

    .nav
    {
        display: flex;
        
    }

    h2 
    {
        font-size: 5vw;
    }

    .nav-item
    {
        flex-grow: 1;
        flex-shrink: 0;
    }

    .card-body
    {
        padding: 0px;
    }

    #pre-project
    {
        display: grid;
        grid-template: 100%;
        justify-items: center;    
    }

    #initiation
    {
        display: grid;
        grid-template: 100%;
        justify-items: center;
    }

    #planning
    {
        display:grid;
        grid-template-rows: 12% 90%;
        justify-items: center;
    }

    .plan-container
    {
        border: black solid 1px;
        width: 100%;
    }

    #execution
    {
        display:grid;
        grid-template: 100%;
        justify-items: center;
    }

    .execution-container
    {
        display:grid;
        grid-template-rows: auto auto auto auto auto auto;
        border: solid black 2px;
        border-radius: 10px;
        width: 90%;
        justify-content: center;
        grid-row-gap: 2vh;
        padding: 5px;
    }

    .execution-container button
    {
        border-radius: 10px;
    }

    #exec-1
    {
        justify-content: space-around;
    }
    #exec-2
    {
        justify-content: center;
    }
    #exec-5
    {
        justify-content: center;
    }
    #exec-6
    {
        justify-content: start;
        flex-direction: row-reverse;
    }

    
    #closing
    {
        display:grid;
        grid-template: 100%;
        justify-items: center;
    }

    .closing-container
    {
        display:grid;
        grid-template-rows: auto auto auto auto auto;
        border: solid black 2px;
        justify-items: center;
        width: 90%;
        grid-row-gap: 2vh;
    }

    #clos-1
    {
        border-radius: 10px;
        height: 10vw;
    }
    #clos-2
    {
        border-radius: 10px;
        height: 10vw;
    }
    #clos-3
    {
        border-radius: 10px;
        height: 10vw;
    }

    .squish
    {
        height: 156px;
        display: grid;
        justify-items: center;
    }
    .squish .plan
    {
        top:0;
    }
    .squish .tool
    {
        position: absolute;
        bottom:0;
    }
    #flowchart
    {
        display: block;
    }

    .baseline-row
    {
        display: flex;
        justify-content: center;
    }    
    .plan
    {
        font-size: x-small;
    }
    .tool
    {
        font-size: x-small;
    }
    .instruction
    {
        font-size: smaller;
    }

    #logo-id
    {
        margin-right: 7vw;
        height: 2.5vh;
    }

    .head-class
    {
        display: flex;
        padding-bottom: 2vh;
        border-bottom: solid blue 1px;
    }

    .form-class
    {
        display: flex;
        flex-grow: inherit;
    }

    .form-class .form-group
    {
        height: 4vh;
        padding: 0px;
        margin-top: 0.5vh;
        margin-left: 1vh;
        margin-bottom: 0;
    }

    .form-class .form-group .form-control
    {
        height: 3vh;
        padding: 0px;
        font-size: 2vh;
        border-radius: 0;
    }

    #loginbutton
    {
        background-color: blue;
        margin-top: 0.5vh;
        margin-left: 2vw;
        height: 3vh;
        line-height: 1.5vh;
        border-radius: 0;
        white-space: nowrap;
        width: inherit;
        color: white;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
    .btn.btn-primary
    {
        background-color: cyan;
        color: blue;
        text-align: center;
        border-radius: 0;
        margin: 1px;
        border: solid black 1px;
        width: 100%;
    }
    .nav-item
    {
        flex-grow: 1;
    }
    .row
    {
        display: block;
    }
    #pre-project
    {
        display: grid;
        justify-items: center;    
    }
    #initiation
    {
        display: grid;
        justify-items: center;
        grid-row-gap: 2vh;
    }

    #planning
    {
        display:grid;
        grid-template-rows: 11% 80%;
        height:85vh;
        justify-items: center;
    }

    .plan-container
    {
        display:grid;
        grid-template-rows: auto auto auto auto auto;
        border: solid black 2px;
        width: 90%;
    }

    #execution
    {
        display:grid;
        grid-template-rows: 11% 80%;
        height:85vh;
        justify-items: center;
    }

    
    .execution-container
    {
        display:grid;
        grid-template-rows: auto auto auto auto auto auto;
        border: solid black 2px;
        border-radius: 10px;
        width: 90%;
        justify-content: center;
        grid-row-gap: 2vh;
        padding: 5px;
    }

    .execution-container button
    {
        max-width: 15vw;
        border-radius: 10px;
    }

    #exec-1
    {
        justify-content: space-around;
    }
    #exec-2
    {
        justify-content: center;
    }
    #exec-3
    {
        justify-content: space-around;
    }

    #exec-3 button
    {
        margin-right:2vw;
        margin-left:2vw; 
    }

    #exec-4
    {
        justify-content: space-around;
    }
    #exec-5
    {
        justify-content: center;
    }
    #exec-6
    {
        flex-direction: row-reverse;
    }

    #closing
    {
        display:grid;
        grid-template: 100%;
        justify-items: center;
    }

    .closing-container
    {
        display:grid;
        grid-template-rows: auto auto auto auto auto;
        border: solid black 2px;
        justify-items: center;
        width: 90%;
        grid-row-gap: 3vh;
    }

    #clos-1
    {
        border-radius: 10px;
        height: 5vw;
    }
    #clos-2
    {
        border-radius: 10px;
        height: 5vw;
    }
    #clos-3
    {
        border-radius: 10px;
        height: 5vw;
    }

    .squish
    {
        height: 156px;
        display: grid;
        justify-items: center;
    }
    .squish .plan
    {
        /* position: absolute; */
        top:0;
    }
    .squish .tool
    {
        position: absolute;
        bottom:0;
    }

    .baseline-row
    {
        display: flex;

    }

    #baseline-1
    {
        justify-content: center;
    }

    #baseline-1 .squish
    {
        padding-left: 2vw;
        padding-right: 2vw;
    }

    #baseline-2
    {
        justify-content: center;
    }

    #baseline-2 .squish
    {
        padding-left: 2vw;
        padding-right: 2vw;
    }
    .lone-button
    {
        padding-left: 2vw;
        padding-right: 2vw;
    }

    #baseline-3
    {
        justify-content: center;
    }
    #baseline-3 .squish
    {
        padding-left: 2vw;
        padding-right: 2vw;
    }
    #baseline-4
    {
        justify-content: center;
    }
    #baseline-4 .squish
    {
        padding-left: 2vw;
        padding-right: 2vw;
    }
    #baseline-5
    {
        justify-content: center;
    }
    #baseline-5 .squish
    {
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .plan
    {
        font-size: x-small;
    }
    .tool
    {
        font-size: x-small;
    }

    .head-class
    {
        margin-top: 2vh;
        display: flex;
        border-bottom: solid blue 2px;
    }

    .log-container
    {
        display: flex;
        justify-content: space-evenly;
        margin: 1vh;
        height: 5vh;
        width: 100%;
        
    }

    #logo-id
    {
        margin-right: 7vw;
        height: 5vh;
    }

    .form-class
    {
        display: flex;
        flex-grow: inherit;
    }

    .form-class .form-group
    {
        height: 4vh;
        padding: 0px;
        margin-top: 0.5vh;
        margin-left: 1vh;
        margin-bottom: 0;
    }

    .form-class .form-group .form-control
    {
        height: 3vh;
        padding: 0px;
        font-size: 2vh;
        border-radius: 0;
    }

    #loginbutton
    {
        background-color: blue;
        margin-top: 0.5vh;
        margin-left: 2vw;
        height: 3vh;
        line-height: 1.5vh;
        border-radius: 0;
        white-space: nowrap;
        width: inherit;
        color: white;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
    
}
